# Naik Foods - Environment Configuration Template
# Copy this file to .env and configure your keys

# Mappls (MapmyIndia) Web Maps SDK & Reverse Geocoding Static Key
VITE_MAPPLS_API_KEY=00bbe96387a74989d5eece48e7208c42

# Mappls Atlas Live Places Search & Autosuggest OAuth Credentials
VITE_MAPPLS_CLIENT_ID=96dHZVzsAuuJGpGOx0o2nCRWKoEwdX_gOuiHfna-qGvnFUNv1vqtAne4bNeBeKYdGHUQ2QxAFPleY_zYMg8keA==
VITE_MAPPLS_CLIENT_SECRET=lrFxI-iSEg88rxeyHddnpnfUSshmBmi7WRHT7XsCH1vgJGoa6CT7FaGbV6kGoYIaT0-mnLVkyH-gmPklIFzR1Ax77U8ZLQ62
